<section id="about" class="section">
    <div class="container">
        <h2>About Me</h2>
        <div class="alphabet-pattern">
            <span>Frontend</span>
            <span>Angular</span>
            <span>Developer</span>
        </div>
        <div class="profile">
            <img src="assets/developer.png" alt="Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h3>Hello, I'm Chandu Varma K</h3>
                <p>I'm a passionate Angular frontend developer with a keen eye for user-centric design and a knack for
                    creating visually appealing web experiences.</p>
                <p>With expertise in Angular, TypeScript, HTML5, CSS3, and JavaScript, I craft responsive and dynamic
                    web applications that elevate user interactions.</p>
                <p>Currently, I'm honing my skills at <a href="https://nstarxinc.com/" target="_blank"
                        style="color: rgb(144, 144, 226);">Nstarx Inc.</a>
                    where I collaborate with a talented team to build innovative solutions for complex problems.</p>
                <button (click)="downloadResume()" class="download-button">Download Resume</button>
            </div>
        </div>
    </div>
</section>



<section id="portfolio" class="section">
    <div class="container">
        <h2>Portfolio</h2>
        <h1>Skills</h1>
        <ul class="skills-list">
            <li *ngFor="let skill of skills">{{ skill }}</li>
        </ul>
        <div class="github-link">
            <h3>Check out my GitHub</h3>
            <a href="https://github.com/chanduvarmak" target="_blank">github.com/chanduvarmak</a>
        </div>
        <div class="github-explanation">
            <h4>
                Too see my proficiency in above skills you can visit my github account.
            </h4>
        </div>

        <div class="portfolio">
            <div class="project-card" *ngFor="let project of projects">
                <img [src]="project.image" [alt]="project.title">
                <h3>{{ project.title }}</h3>
                <p class="project-description">{{ project.description }}</p>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="section">
    <div class="container">
        <h2>Contact Me</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
            <input type="text" placeholder="Name" formControlName="name">
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
                Name is required
            </div>
            <input type="email" placeholder="Email" formControlName="email">
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
                Please enter a valid email address
            </div>
            <textarea placeholder="Message" formControlName="message"></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
                Please enter a message..!
            </div>
            <button type="submit">Send Message</button>
        </form>
        <div class="additional-content">
            <p>Feel free to reach out to me for any inquiries or questions.</p>
        </div>
        <div class="social-media-links">
            <a href="https://www.linkedin.com/in/chandu-varma-k-765933214" target="_blank"><img
                    src="assets/linkedin.png" alt="LinkedIn"></a>
            <a href="https://www.instagram.com/your-instagram" target="_blank"><img src="assets/instagram.png"
                    alt="Instagram"></a>
            <a href="https://twitter.com/your-twitter" target="_blank"><img src="assets/twitter.png" alt="Twitter"></a>
            <a href="https://twitter.com/your-twitter" target="_blank"><img src="assets/facebook.png"
                    alt="facebook"></a>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <p>&copy; 2024 ChanduVarma.K. All rights reserved.</p>
    </div>
</footer>